@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
.container {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "sidebar header"
    "sidebar dashboard";
}

.sidebar {
    background: linear-gradient(-90deg, #c084fc, #7e22ce);
    grid-area: sidebar;
}

.header {
    background-color: #f8f8f8;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: left;
    align-items: center;
    box-shadow: 0 0 10px 5px darkorchid;
}

.dashboard {
    background-color: rgba(253, 180, 251, 0.5);
    grid-area: dashboard;
    display: grid;
}

h1 {
    font-weight: 500;
}

#username {
    font-weight: 900;
}

.searchbar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 15%;
}

.greeting {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 15%;
}

.menu {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 15%;
}

.actions {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 15%;
}

.mag-glass {
    width: 20px;
}

[type="text"] {
    border-radius: 20px;
    border: solid 2px #dfbbff;
    width: 80%;
    height: 25%;
    padding-left: 15px;
    font-size: 1.2em;
    outline: none;
    background-color: #f2e4ff;
}